<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<%= f.error_notification %>

<br />

<div class="card-signup mx-auto">

	<div class="text-left text-justify">

    <h1 class="card-title">Sign up</h1>
    <br />

    <h5 class="card-title">Email</h5>
    <%= f.input :email, label: false %>
    <br />

		<h5 class="card-title">Password</h5>
    <%= f.input :password, label: false %>
    <br />

    <h5 class="card-title">Password confirmation</h5>
    <%= f.input :password_confirmation, label: false %>
    <br />
</div>

<div class="signup-button">
  <%= f.button :submit, "Sign up" %>
</div>

<br />

<% end %>

<%= render "devise/shared/links" %>
