<br />

<div class="card-signup mx-auto">

	<div class="text-left text-justify">

    <h1>Change your password</h1>
    <br />

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>

    <%= f.full_error :reset_password_token %>

    <h5 class="card-title">
    <%= f.input :password, label: %>
    <br />

    <h5 class="card-title"></h5>
    <%= f.input :password_confirmation, label: %>
    <br />

    <%= f.button :submit, "Change my password" %>
    <br />

    <% end %>

    <br />

    <%= render "devise/shared/links" %>
  </div>
</div>
