<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
    <ul class="navbar-nav mx-auto">

      <span>
        <h1 class="nav-item">游뚟</h1>
      </span>

      <span>
        <li class="nav-item">
          <h1> <%= link_to "游 Trainspotters Int'l 游", "/", class: "nav-link" %> </h1>
        </li>
      </span>

      <% if user_signed_in? %>
      </span>
        <li class="nav-item">
          <%= link_to "游듻 List of entries 游듻", "/trains", class: "nav-link" %>
        </li>
      </span>
      <span>
        <li class="nav-item">
          <%= link_to "游닌 Catalog a train 游닌", "/trains/new", class: "nav-link" %>
        </li>
      </span>
      <span>
        <li class="nav-item">
          <%= link_to "丘뙖잺 Edit your info 丘뙖잺", "/users/edit", class: "nav-link" %>
        </li>
      </span>
      <span>
        <li class="nav-item ">
          <%= link_to "久덢잺 Sign out 久덢잺", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </span>
      <% else %>
      <span>
        <li class="nav-item nav-color">
          <%= link_to "游듻 List of entries 游듻", "/trains", class: "nav-link" %>
        </li>
      </span>
      <span>
        <li class="nav-item">
          <%= link_to "游릭 Sign in 游릭", "/users/sign_in", class: "nav-link" %>
        </li>
      </span>
      <span>
        <li class="nav-item">
          <%= link_to "游 Sign up 游", "/users/sign_up", class: "nav-link" %>
        </li>
      </span>
      <% end %>
      <span>
        <h1 class="nav-item mirror">游뚟</h1>
      </span>
    </ul>
  </div>
</div>
