<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <ul class="navbar-nav mx-auto">

      <li class="nav-item">

        <%= link_to "Trainspotters Int'l", "/", class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
      <li class="nav-item">
        <%#= link_to "Back", :back, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "List of entries", "/trains", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Catalog a train", "/trains/new", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Edit your info", "/users/edit", class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>

      <% else %>
      <li class="nav-item">
        <%= link_to "Back", :back, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "List of entries", "/trains", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign in", "/users/sign_in", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", "/users/sign_up", class: "nav-link" %>
      </li>

      <% end %>
    </ul>
  </div>
</div>
