<h1>Log in</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="card-login mx-auto">
	<div class="text-left text-justify">

		<h5 class="card-title">Email</h5>
			<%= f.input :email, label: false %>
		<br />

		<h5 class="card-title">Password</h5>
			<%= f.input :password, label: false %>
		<br />

			<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		<br />

		<div class="login-button">
			<%= f.button :submit, "Log in" %>
		</div>
    <br />
	</div>
</div>

<% end %>

<%= render "devise/shared/links" %>

