<br />

<h1 class="text-center">Log in</h1>

<br />

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="card-new col-6 offset-3">
	<div class="text-left text-justify">

		<h5 class="card-title">Email</h5>
			<%= f.input :email, label: false %>
		<br />

		<h5 class="card-title">Password</h5>
			<%= f.input :password, label: false %>
		<br />

			<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		<br />

		<div class="login-button btn btn-light">
			<%= f.button :submit, "Log in" %>
		</div>
	</div>
</div>

<br />
<% end %>

<%= render "shared/footer" %>
<%= render "devise/shared/links" %>

